SPOTIFY_TOKEN_URL=https://accounts.spotify.com/api/token
SPOTIFY_CLIENT_ID=INVALID_CLIENT_ID
SPOTIFY_CLIENT_SECRET=INVALID_CLIENT_SECRET
SPOTIFY_PLAYLIST_ID=INVALID_PLAYLIST_ID
BOT_TOKEN=INVALID_BOT_TOKEN
TARGET_CHAT_ID=INVALID_CHAT_ID
STORAGE_BACKEND=filesystem
FILESYSTEM_STORAGE_PATH=$HOME/SpotifySpy/data/
S3_REGION=INVALID_AWS_REGION
S3_BUCKET=INVALID_BUCKET
S3_ACCESS_KEY_ID=INVALID_AWS_ACCESS_KEY_ID
S3_SECRET_ACCESS_KEY=INVALID_AWS_SECRET_ACCESS_KEY
CHECK_INTERVAL=60